.App {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

/*apply css properties to button tag*/

button {
  width: 90px;
  height: 60px;
  font-size: 40px;
  background-color: green;
  border-radius: 10%;
  color: honeydew;
  cursor: pointer;
}

/*apply hover effect to button tag*/

button:hover {
  transition: 0.5s;
  background-color: greenyellow;
  color: grey;
}

/*apply css properties to h2 tag*/

h2 {
  color: black;
  margin: 0 50px;
  font-size: 45px;
}

/*apply css properties to h1 tag*/

h1 {
  font-size: 35px;
  color: black;
  text-align: center;
}
